html, body {
    margin: 0;
  }
  div {
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  .box:after {
    content: ' ';
    border-top: 100vh solid #008ce6;
    border-right: 100vw solid transparent;
    width: 0;
    position: absolute;
  }

